@font-face {
    font-family: setaritFont;
    src: url(../fonts/setarit.otf);
}
html, body{
  height: 100%;
  background-color: #EEE;
}
body *{
	font-family: setaritFont;
}
body{
  padding-top: 50px;
}
p{
  font-size: 16px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/* navbar logo */
.navbar-brand {
  padding: 0px;
}
.navbar-brand img{
  height: 100%;
}
.navbar{
  z-index: 1;
  margin-bottom: 0px;
}
/* end navbar logo*/
/* navbar shadow */
.navbar {
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.4);
}
/* END navbar shadow */
section.cardbox{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color: #FFF;
  -webkit-box-shadow: 6px 10px 5px -6px rgba(0,0,0,0.4);
  -moz-box-shadow: 6px 10px 5px -6px rgba(0,0,0,0.4);
  box-shadow: 6px 10px 5px -6px rgba(0,0,0,0.4);
}
section.cardbox > h2{
  padding-top: 15px;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.welcome-full-window{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../img/thinking.jpg');
}
.welcome-full-window p {
  color: #000;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 3px 2px #ffffff;
}
.center-parent{
  position: relative;
  height: 100%;
  width: 100%;
}
.center-child{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div.row{
    background-color: white;
}
div#heroContent{
    background-color: transparent;
}
#products a img {
  margin-left: auto;
  margin-right: auto;
}
div.hero{
	background-color: #1e2247;
	padding-top: 2em;
	padding-bottom: 2em;
}
div.hero *{
	color: white;
}
div.hero li {
	list-style-type: none;
	font-size: 1.3em;
}
div.hero li img{
	max-height: 1em;
	padding-right: 1em;
}
li.name h1 img{
	max-height: 2.6em;
    vertical-align: baseline;
}
ul.features{
	list-style-type: none;

}
ul.features img{
	max-height: 1em;
	padding-right: 0.5em;
}
ul.features img.grow {
	transition: all .2s ease-in-out;
}
ul.features img.grow:hover {
	transform: scale(1.5);
}
div.contain-to-grid{
  background-color: #7676B3;
}
section#knowledgebase img{
	width: 100%;
}
div#GitHub a{
	color: black;
	border: solid 0.15em;
	padding: 0.55em;
	border-radius: 0.5em;
}
div.kbHeader img{
	width: 100%;
	max-height: 3em;
	margin-bottom: 1em;
}
div.kbList ul{
	list-style: none;
}
section.changeLog{
	background-image: url(../img/bikeBridge.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}
section.leftPadding{
	padding-left: 1em;
}

/* Changelog image effects */
.changeLogHover {
	display: inline-block;
    position:relative;
    overflow:hidden;
    list-style: none;
}
.changeLogHover figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
}
.changeLogHover figure img {
    position:relative;
    z-index:10;
}
.changeLogHover figure figcaption {
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.changeLogHover figure h2 {
    color:#fff;
    text-align:left;
    font-size: 1.9em;
}
.changeLogHover figure p {
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left
}
.changeLogHover figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.changeLogHover figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.changeLogHover figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.changeLogHover figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

/* CSS navbar color */
.navbar{
  z-index: 100;
}
.navbar-default {
  background-color: #60609d;
  border-color: #313983;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #60609d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #313983;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #313983;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #313983;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #313983;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #313983;
}
.navbar-default .navbar-toggle {
  border-color: #313983;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #313983;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #313983;
  }
}
/* END navbar color */
/* Scroll button */
.scrollButton a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 setaritFont, sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.scrollButton a:hover {
	opacity: .5;
}

#scrollButton a {
	padding-top: 60px;
}
#scrollButton a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#scrollButton a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}
#scrollButton a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(255,255,255,.1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: scrollButtonAnimation 3s infinite;
	animation: scrollButtonAnimation 3s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes scrollButtonAnimation {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes scrollButtonAnimation {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
/* End scroll button */
/* Settler page */
.settler-hero{
  width: 100%;
  height: 100%;
  background-size: cover;
  background: linear-gradient(to bottom right, #0D3750, #8EA7AC);
  background-image: url('../img/settler/sky.png');
  background-size: cover;
  background-color: #375b6f;
  color: #FFF;
  overflow: hidden;
}
.settler-hero > img {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  margin: 0 auto;
  max-width: 50%;
  z-index: 3;
}
.settler-hero-header {
  font-size: 100px;
}
.settler-hero-subheader{
  font-size: 50px;
}
.settler-hero-text{
  margin-top: 50px;
}
#settler-hero-download-button{
  text-decoration: none;
  color: #FFF;
  background-color: #60609D;
  font-size: 3vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  border-radius: 10px;
  border: 1px solid #313983;
}
#settler-hero-download-button:hover{
  background-color: #5D5D9A;
}
.settler-hero > .row {
  background-color: transparent;
}
.settler-hero > .row > div:nth-child(1){
  z-index: 4;
}
.settler-hero-image-container{
  position: relative;
  width: 100%;
  height: 100%;
  transform: skew(5deg, -5deg);
}
.settler-hero-image-container > img{
  -webkit-box-shadow: 7px -8px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px -8px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 7px -8px 10px 0px rgba(0,0,0,0.75);
}
#settler-top-screenshot{
  position: absolute;
  margin-top: 50vh;
  max-width: 40vw;
  z-index: 2;
}
#settler-back-screenshot{
  position: absolute;
  margin-top: 40vh;
  margin-left: 5vw;
  z-index: 1;
}
.settler-feature-image{
  max-width: 20%;
}
/* END Settler page */

/* media queries
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .welcome-full-window p {
    font-size: 60px;
  }
  .settler-hero > img {
    max-width: 50%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .settler-hero > img {
    max-width: 25%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
  .settler-hero > img {
    max-width: 20%;
  }
}
