@font-face {
    font-family: setaritFont;
    src: url(../fonts/setarit.otf);
}
body *{
	font-family: setaritFont;
}
div.content{
	padding-top: 45px;
}
div.hero{
	background-color: #1e2247;	
	padding-top: 2em;
	padding-bottom: 2em;
}
div.hero *{
	color: white;
}
div.hero li {
	list-style-type: none;
	font-size: 1.3em;
}
div.hero li img{
	max-height: 1em;
	padding-right: 1em;
}
li.name h1 img{
	max-height: 2.9em;
}
nav.top-bar{
	background-color: #7676b3;
}
section.top-bar-section li:not(.has-form) a:not(.button){
	background-color: #7676b3;
}
section.top-bar-section li:not(.has-form) a:not(.button):hover{
	background-color: #10104d;
}
section.top-bar-section li.active:not(.has-form) a:not(.button){
	background-color: #313983;
}
section.top-bar-section li.active:not(.has-form) a:not(.button):hover{
	background-color: #10104d;
}
section.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button){
	background-color: #10104d;
}
section.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button){
	background-color: #7676b3;
}
section#knowledgebase img{
	width: 100%;
}
div#GitHub a{
	color: black;
	border: solid 0.15em;
	padding: 0.55em;
	border-radius: 0.5em;
}
div.kbHeader img{
	width: 100%;
	max-height: 3em;
	margin-bottom: 1em;
}
div.kbList ul{
	list-style: none;
}